link(rel="stylesheet" type="text/css" href="/stylesheets/css/application.css")
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
script(language = "Javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js")
//script(src="/javascripts/application.min.js")
script(type= "text/javascript" src="/javascripts/display-data.js")
script(type= "text/javascript" src="/javascripts/convert-data.js")
script(type= "text/javascript" src="/javascripts/weather-data.js")
meta(name="viewport" content="width=500")
  