link(rel="stylesheet" type="text/css" href="/stylesheets/css/application.css")
script(language = "Javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js")
script(src="/javascripts/weather-data.js")
  