.weatherapp
  .location-row
    .add-button
    .location-and-date
      span.location New Hyde Park, NY
      span.date Monday, May 20
    .geolocation-button
      button.button-primary(onclick = "getWeather()") Get Weather
  .current-weather
    span.current-weather-icon
    span.current-temp
    span.high-temp
    span.low-temp