.weatherapp
  .upper-half
    .location-row
      .add-button
        i.fa.fa-plus
      .location-and-date
        span.location NEW HYDE PARK, NY
        span.date Monday, May 20
      .geolocation-button(onclick="getWeather()")
        i.fa.fa-map-marker
    .current-weather-row-condensed
      .current-weather
        .current-weather-icon
          img(src="/images/weather-icons/weather-clear-day.svg")
        span.current-temp 85°
        .high-and-low-temp
          span.high-temp 87°
          |/
          span.low-temp 72°
      .toggle-view-button
        |>
    .current-weather-row-expanded
      .current-weather
        .toggle-view-button <
        .current-weather-icon
          img(src="/images/weather-icons/weather-clear-day.svg")
        .current-weather-description
          .description
            span.main Sunny
            br
            span.sub with clouds
        br
      .current-weather-stats
        .temps
          |NOW
          br
          .current-temp 105°
          .high-temp
            sup HIGH 
            |105°
          .low-temp 
            sup LOW 
            |105°
        .other-stats
          .wind-row.stat-row
            .icon
              img(src="images/weather-icons/stats-windspeed.svg")
            .label WIND
            .value SE 7 MPH
          .humidity-row.stat-row
            .icon
              img(src="images/weather-icons/stats-precipitation.svg")
            .label HUMIDITY
            .value 45%
          .pressure-row.stat-row
            .icon
              img(src="images/weather-icons/stats-air-pressure.svg")
            .label PRESSURE
            .value 29.95 IN
          .precipitation-row.stat-row
            .icon
              img(src="images/weather-icons/stats-precipitation.svg")
            .label PRECIPITATION
            .value 6 HIGH
.lower-half
  .lower-half-container
    .daily-weather-header-row
      span.daily-title DAILY
      span.show-more-days 
        |7 Days 
        sup
          i.fa.fa-expand
    .daily-weather-row
      -for(var x = 1; x< 6; x++)
        .day
          span.daily-name MON
          span.daily-weather-icon
            img(src="/images/weather-icons/weather-clear-day.svg")
          .day-temps
            span.daily-high-temp 75°
            |/ 
            span.daily-low-temp 68°
    .daily-hourly-break
    .hourly-weather-header-row
      span.hourly-title HOURLY
      span.show-more-hours
        |48 hours 
        sup
          i.fa.fa-expand
    .hourly-weather-row
      table.hour
        thead
          tr.hour-column-label-row
            th.time-head TIME
            th.temp-head TEMP
            th.precip-head PRECIP
            th.wind-head WIND
        -for(var i = 1; i < 8; i++)
          tr.hour-row
            td.time #{i} AM
            td.temp 75°
            td.precip 0%
            td.wind  S #{Math.floor(Math.random() * 15) + 1} MPH








