.weatherapp
  .upper-half
    .location-row
      .add-button
        i.fa.fa-plus
      .location-and-date
        span.location
        span.date
      .geolocation-button(onclick="getWeather()")
        i.fa.fa-map-marker
    .current-weather-row-condensed
      .current-weather
        .current-weather-icon
        span.current-temp
        .high-and-low-temp
          span.high-temp
          | / 
          span.low-temp
      .toggle-view-button(onclick="toggleView()")
        |>
    .current-weather-row-expanded
      .current-weather
        .toggle-view-button(onclick="toggleView()")
          |<
        .current-weather-icon
        .current-weather-description
          .description
            span.main Sunny
            br
            span.sub with clouds
        br
      .current-weather-stats
        .temps
          |NOW
          br
          .current-temp 105°
          .high-temp
            sup HIGH 
            span.value
          .low-temp 
            sup LOW 
            span.value
        .other-stats
          .wind-row.stat-row
            .icon
              img(src="images/weather-icons/stats-windspeed.svg")
            .label WIND
            .value SE 7 MPH
          .humidity-row.stat-row
            .icon
              img(src="images/weather-icons/stats-humidity.svg")
            .label HUMIDITY
            .value 45%
          .pressure-row.stat-row
            .icon
              img(src="images/weather-icons/stats-air-pressure.svg")
            .label PRESSURE
            .value 29.95 IN
          .precipitation-row.stat-row
            .icon
              img(src="images/weather-icons/stats-precipitation.svg")
            .label PRECIPITATION
            .value 6 HIGH
.lower-half
  .lower-half-container
    .daily-weather-header-row
      span.daily-title DAILY
      span.show-more-days 
        |7 Days 
        sup
          i.fa.fa-expand
    .daily-weather-row
      each val in [1,2,3,4,5]
        div(class="day "+"day-"+val)
          span.daily-name
          span.daily-weather-icon
          .day-temps
            span.daily-high-temp
            |/ 
            span.daily-low-temp
    .daily-hourly-break
    .hourly-weather-header-row
      span.hourly-title HOURLY
      span.show-more-hours
        |48 hours 
        sup
          i.fa.fa-expand
    .hourly-weather-row
      table.hour
        thead
          tr.hour-column-label-row
            th.time-head TIME
            th.temp-head TEMP
            th.precip-head PRECIP
            th.wind-head WIND
        - val = 1
        while val < 13
          tr(class="hour-row "+ "hour-"+val+"-row")
            td.time
            td.temp
            td.precip
            td.wind
          -val++








