.weatherapp
  .location-row
    .add-button
      i.fa.fa-plus
    .location-and-date
      span.location NEW HYDE PARK, NY
      span.date Monday, May 20
    .geolocation-button(onclick="getWeather()")
      i.fa.fa-map-marker
  .current-weather
    .current-weather-icon
      img(src="/images/weather-icons/cloudy.svg")
    span.current-temp
    span.high-temp
    span.low-temp