$toggle-view: #a4add3

.weatherapp
  margin: 0 auto
  width: 480px
  .upper-half
    height: 435px
    padding-bottom: 10px
    .location-row
      text-align: center
      margin-top: 10px
      .add-button
        height: 30px
        width: 30px
        float: left
        padding: 0px
        opacity: .9
        border: 2px solid white
        color: white
        border-radius: 100%
        i
          margin-top: 8px
      .location-and-date
        margin-top: 10px
        opacity: .88
        color: white
        display: inline-block
        .location
          font-size: 20px
          display: block
        .date
          font-size: 18px
          display: block
      .geolocation-button
        border: 2px solid white
        opacity: .9
        color: white
        display: inline-block
        float: right
        cursor: pointer
        height: 30px
        width: 30px
        padding: 0px
        border-radius: 100%
        &:hover
          background-color: rgba(white, .2)
        i
          font-size: 20px
          margin-top: 5px
    .current-weather-row-condensed
      display: inline
      clear: both
      position: relative
      .current-weather
        width: 390px
        padding-left: 40px
        color: rgba(white, .8)
        display: inline-block;
        .current-weather-icon
          text-align: center
          img
            margin: auto
            width: 250px
            height: 250px
            border-radius: 100%
        .current-temp
          margin: 0px
          position: relative
          padding: 0px
          font-size: 72px
          font-weight: 600
          font-style: bold
          text-align: center
          display: block
        .high-and-low-temp
          margin: 0px
          font-size: 28px
          font-weight: 400
          text-align: center
          padding-bottom: 20px
          .high-temp
          .low-temp
      .toggle-view-button
        width: 44px
        position: relative
        font-size: 110px
        color: $toggle-view
        top: -183px
        right: 30px
        display: inline-block
        //display: none
        &:hover
          color: white
          cursor: pointer
    .current-weather-row-expanded
      clear: both
      display: none
      .current-weather
        position: relative
        //border: 1px solid blue
        padding: 0px 30px
        .toggle-view-button
          color: #a4add3
          padding-top: 12px
          //border: 1px solid red
          font-size: 110px
          float: left
          &:hover
            color: white
            cursor: pointer
        .current-weather-icon
          margin-left: 10px
          display: inline-block
          line-height: 1px
          width: 200px
          img
            vertical-align: middle
            width: 200px
            height: 200px
        .current-weather-description
          position: absolute
          top: 0px
          left: 290px
          margin-top: 40px
          //border: 1px solid orange
          float: right
          z-index: 2
          .main
            font-size: 45px
            font-weight: 600
            color: rgba(white, .8)
          .sub
            font-size: 24px
            color: rgba(white, .8)
        br
          clear: both
      .current-weather-stats
        //border: 1px solid purple
        padding: 0px 20px 0px 20px
        color: rgba(white, .7)
        position: relative
        height: 190px
        .temps
          position: relative
          //border: 1px solid blue
          float: left
          height: 100%
          width: 155px
          font-size: 18px
          sup
            top: -18px
            color: rgba(white,.7)
            font-size: 10px
          .current-temp
            font-size: 80px
          .high-temp, .low-temp
            font-size: 25px
        .other-stats
          //border: 1px solid red
          width: 260px
          float: right
          .stat-row
            div
              display: table-cell
              vertical-align: middle
            .icon
              width: 50px
              //border: 1px solid green
            .label
              width: 120px
              //border: 1px solid blue
              text-align: left
            .value
              width: 80px
              //border: 1px solid pink
              text-align: right
.lower-half
  margin: 0 auto
  padding: 10px 0px
  background-color: #4E62AD
  min-width: 480px
  .lower-half-container
    width: 440px
    max-width: 720px
    margin: 0 auto
    .daily-weather-header-row
      padding: 10px 0px
      clear: both
      color: white
      .daily-title
        font-size: 16px
      .show-more-days
        float: right
        padding-top: 3px
        font-size: 14px
    .daily-weather-row
      font-size: 12px
      color: white
      display: flex
      .day
        padding-left: 5px
        border-left: 1px solid rgba(white, .2)
        flex: 1
        text-align: center
        &:nth-child(1)
          border: none
        .daily-name
          font-size: 12px
          text-align: left
          display: block
        .daily-weather-icon
          display: block
          img
            width: 50px
        .day-temps
          font-size: 16px
    .daily-hourly-break
      margin: 15px 0px
      height: 3px
      opacity: .3
      background-color: white
    .hourly-weather-header-row
      padding: 10px 0px
      clear: both
      color: white
      .hourly-title
        font-size: 16px
      .show-more-hours
        float: right
        padding-top: 3px
        font-size: 14px
    .hourly-weather-row
      .hour
        width: 440px
        margin: 0 auto
        color: white
        .hour-column-label-row
          th
            font-size: 14px
          .time-head
            text-align: left
          .temp-head
            text-align: center
          .precip-head
            text-align: center
          .wind-head
            width: 30%
            text-align: right
        .hour-row
          td
            padding: 5px 0px
            font-size: 18px
          .time
            text-align: left
          .temp
            text-align: center
          .precip
            text-align: center
          .wind
            text-align: right






